@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
  --primary: #003631;
  --gray-950: #181818;
  --gray-200: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray-950: var(--gray-950);
  --color-gray-200: var(--gray-200);
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-text-tracking {
  letter-spacing: 1%;
}
